/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 50px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 8px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: green;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(52px);
    -ms-transform: translateX(52px);
    transform: translateX(52px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.btnPayment {
    -webkit-appearance: -apple-pay-button;
    background-color: black;
    color: white;
    padding: 2vw;
    border-radius: 2vw;
    border: 0;
    font-size: 3vw;
}

.btnPrimary {
    background-color: black;
    color: white;
    padding: 2vw;
    border-radius: 2vw;
    border: 0;
    font-size: 3vw;
}

.btnA2HS {
    background-color: black;
    color: white;
    padding: 2vw;
    border: 0;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 2vw;
}

.btnA2HS:disabled {
    background-color: darkgray;
}

.slideContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}
